.cats-list {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
    margin: auto;
}

.cat-card {
    background-color: var(--bois-clair);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}

.cat-card:hover {
    transform: translateY(-5px);
}

.cat-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cat-info {
    padding: 1rem;
}

.cat-info h3 {
    margin: 0 0 0.5rem 0;
    font-family: var(--font-titres);
    color: var(--vert-sauge);
}
