.navbar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 80px;
    position: fixed; /* <- c'est ça qui la rend fixe */
    top: 0;          /* toujours en haut */
    z-index: 1000;   /* au-dessus du contenu */
    background-color: var(--blanc-casse);
    gap: 1rem;
}


a {
    border: 1px var(--anthracite-doux) solid;
    padding: .5rem 2rem;
    border-radius: 4px;
}