#root {
    /* max-width: 1280px; */
    /* margin: 0 auto;
    padding: 2rem;
    text-align: center; */

    --vert-sauge: #7D8F69;          /* Titres, boutons principaux, icônes "nature" */
    --terre-cuite: #B56547;         /* Accents, boutons d'appel à l'action */
    --bois-clair: #dcc498;          /* Fonds de sections, encadrés de texte */
    --blanc-casse: #F9F7F2;         /* Fond principal du site */
    --anthracite-doux: #3E3E3E;     /* Texte principal */
}

html {
    font-family: "Crimson Pro";
}

.landing {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: var(--blanc-casse); /* couleur de fond douce */
}

.landing > img {
    width: 60%;
    min-width: 200px;
    border-radius: 5px;
}

section {
    background-color: red;
    width: 80%;
    margin: auto;
}
